<a href="https://colab.research.google.com/github/AndreyBertasini/data-engineering/blob/master/%D0%A7%D1%82%D0%B5%D0%BD%D0%B8%D0%B5_%D0%B8_%D0%B7%D0%B0%D0%BF%D0%B8%D1%81%D1%8C_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_1_%D0%94%D0%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Чтение и запись данных, часть 1

## Домашнее задание 

### Описание домашнего задания и формат сдачи

Выполните предложенные задачи — впишите свой код в ячейки после комментария `### YOUR CODE HERE ###` и сохраните изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) загрузите в личный кабинет и отправьте на проверку.

### Задача 1

Загрузите содержимое файла `Homework1.csv` в DataFrame и выведите первые пять строк на экран. В следующей ячейке посчитайте среднее значение температуры (столбец `Temperature`) и выведите её на экран.

fales

In [3]:
!gdown --id 1Mw9PxZlEWkXoPfBQ_SmM4o7WTt2vzSIV

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1Mw9PxZlEWkXoPfBQ_SmM4o7WTt2vzSIV
To: /content/Homework1.csv
100% 13.6k/13.6k [00:00<00:00, 14.6MB/s]

https://drive.google.com/drive/folders/1zQBk9J03Qwp3QMBumcLiniFAZvs_5pNw?usp=sharing

In [4]:
import pandas as pd
from matplotlib import pyplot as plt
import datetime as dt

In [5]:
homeone = pd.read_csv('/content/Homework1.csv')

In [6]:
homeone.head(20)

       id        Date           City  Temperature
0   32208  01.01.2012  New York City         47.4
1   32209  02.01.2012  New York City         42.9
2   32210  03.01.2012  New York City         29.8
3   32211  04.01.2012  New York City         19.1
4   32212  05.01.2012  New York City         31.7
5   32213  06.01.2012  New York City         41.5
6   32214  07.01.2012  New York City         51.6
7   32215  08.01.2012  New York City         45.1
8   32216  09.01.2012  New York City         35.0
9   32217  10.01.2012  New York City         39.4
10  32218  11.01.2012  New York City         42.2
11  32219  12.01.2012  New York City         43.3
12  32220  13.01.2012  New York City         39.1
13  32221  14.01.2012  New York City         29.7
14  32222  15.01.2012  New York City         23.3
15  32223  16.01.2012  New York City         22.7
16  32224  17.01.2012  New York City         39.0
17  32225  18.01.2012  New York City         50.8
18  32226  19.01.2012  New York City         26.4
19  32227  20.01.2012  New York City         31.9

In [7]:
homeone['Temperature'].mean()

58.06857923497273

### Задача 2

Сохраните DataFrame из предыдущей задачи в файл `result1.csv`, в качестве разделителя используйте запятую `,`, а в качестве названия столбца-индекса — `index`.

In [8]:
homeone.to_csv('/content/result1.csv', sep=',', index_label='index')

### Задача 3

Загрузите содержимое файла `Homework1.csv` в DataFrame, при этом отформатируйте столбец с датой (`Date`) и приведите его к стандартизированному виду. Выведите первые пять строк DataFrame на экран.

In [9]:
homeone = pd.read_csv('/content/Homework1.csv',parse_dates=['Date'], dayfirst=False)

In [10]:
homeone.head()

      id       Date           City  Temperature
0  32208 2012-01-01  New York City         47.4
1  32209 2012-02-01  New York City         42.9
2  32210 2012-03-01  New York City         29.8
3  32211 2012-04-01  New York City         19.1
4  32212 2012-05-01  New York City         31.7

### Задача 4

Сохраните DataFrame из предыдущей задачи в файл `result2.xlsx`.

In [11]:
homeone.to_excel('/content/result2.xlsx', index=False)

### Задача 5

Загрузите содержимое файла `Homework2.csv` в DataFrame, укажите правильный разделитель столбцов, отформатируйте столбец с датой (`Date`) и приведите его к стандартизированному виду. Выведите первые пять строк DataFrame на экран.

In [12]:
 !gdown --id 1isKsj1jU_lGp4ehoq9csP3bkMd8E4M3K

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1isKsj1jU_lGp4ehoq9csP3bkMd8E4M3K
To: /content/Homework2.csv
100% 13.6k/13.6k [00:00<00:00, 19.6MB/s]

### Задача 6

Сохраните DataFrame из предыдущей задачи в файл `result3.xlsx`, при сохранении задайте листу имя `MySheet`.

(Примечание: для указания имени листа в файле Excel как при чтении, так и при записи используется параметр `sheet_name`.)

In [13]:
### YOUR CODE HERE ###

### Задача 7

Загрузите содержимое файла `Homework3.xlsx` в DataFrame, отформатируйте столбец с датой (`Date`) и приведите его к стандартизированному виду. Выведите первые пять строк DataFrame на экран.

После этого в следующей ячейке сохраните полученный DataFrame в этот же файл, в лист с названием `MySheet`. При сохранении передайте в функцию сохранения параметр `index` c булевым значением `False`, чтобы не сохранять столбец-индекс.

Затем откройте файл `Homework3.xlsx` с помощью Excel или аналога и посмотрите, сколько листов сейчас содержит этот файл. Ответ запишите в секции `### YOUR COMMENTS HERE ###` под блоками для кода.

In [14]:
### YOUR CODE HERE ###

In [15]:
### YOUR CODE HERE ###

\### YOUR COMMENTS HERE ###

### Задача 8

Загрузите содержимое файлов `Homework1.csv` и `Homework4.csv` в разные датафреймы (DataFrame), выведите первые пять строк каждого датафрейма на экран. После этого объедините датафреймы по столбцу `id` с использованием метода `merge`, выведите первые пять строк объединённого датафрейма на экран и запишите объединённый датафрейм в файл `result4.csv`, указав в качестве разделителя точку с запятой `;`.

In [16]:
### YOUR CODE HERE ###

In [17]:
### YOUR CODE HERE ###

In [18]:
### YOUR CODE HERE ###

In [19]:
### YOUR CODE HERE ###

## Дополнительные (необязательные) задачи

### Задача 9

Загрузите содержимое файлов `Homework2.csv` и `Homework5.xlsx` в разные датафреймы (DataFrame), при этом в каждом датафрейме отформатируйте столбец с датой (`Date`) и приведите его к стандартизированному виду. После этого выведите первые пять строк каждого датафрейма на экран. Затем объедините датафреймы по столбцу `Date` с использованием метода `merge`, выведите первые пять строк объединённого датафрейма на экран и запишите объединённый датафрейм в файл `result5.csv`, указав в качестве разделителя символ табуляции `\t`.

In [20]:
### YOUR CODE HERE ###

In [21]:
### YOUR CODE HERE ###

In [22]:
### YOUR CODE HERE ###

In [23]:
### YOUR CODE HERE ###

### Задача 10

Вы могли заметить, что столбец `Temperature` всех предыдущих датафреймов содержит достаточно высокое значение. Это потому, что данные по температуре приведены для города Нью-Йорк, а в США принято измерять температуру в градусах Фаренгейта, а не Цельсия. Для перевода температуры из градусов Фаренгейта в градусы Цельсия используется следующая формула:

$$
T_C = (T_F-32)\times5/9,
$$

где $T_F$ — температура в градусах Фаренгейта, а $T_C$ — температура в градусах Цельсия. 

Используя приведённую формулу, добавьте в объединённый датафрейм из предыдущей задачи новый столбец `Temperature_C`, содержащий температуру в градусах Цельсия. Данные по температуре в градусах Фаренгейта приведены в столбце `Temperature`. Полученный датафрейм сохраните в файл `result6.csv`.

In [24]:
### YOUR CODE HERE ###

### Задача 11

Используя объединённый датафрейм из предыдущей задачи, постройте график Scatter зависимости продаж (столбец `Sales`) от температуры (столбец `Temperature_C`) с помощью библиотеки Matplotlib. Попробуйте сделать предположение о зависимости продаж от температуры. Как вы думаете, продажи какого товара приведены в датафрейме? Почему? (Ответ запишите в блоке ### YOUR COMMENTS HERE ###.)

In [25]:
### YOUR CODE HERE ###

\### YOUR COMMENTS HERE ###